<div class="backdrop is-hidden" data-modal>
  <div class="backdrop-bg"></div>
    <div class="modal">
      <div class="close-modal">
        <svg
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M8 8L22 22" stroke-width="2" />
          <path d="M8 22L22 8" stroke-width="2" />
        </svg>
      </div>
      <p class="title">УЧАСТНИКИ КОМАНДЫ</p>
      <ul class="team-list list">
        <li class="team-item">
          <img
            class="team-img"

            src="./images/developer-team/temerlan.jpg"
            alt=""
            width="50px"
          />
          <div class="dev-wrapper">
            <p class="dev-name">
              TEMERLAN <br />
              <span class="dev-position">TEAM LEAD | Pavlodar, Kazakhstan</span>
            </p>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/developer-team/maria.jpg"
            alt=""
            width="50px"
          />
          <div class="dev-wrapper">
            <p class="dev-name">
              MARIA <br />
              <span class="dev-position">SCRUM MASTER | Odessa, Ukraine</span>
            </p>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/developer-team/alissa.jpg"
            alt=""
            width="50px"
          />
          <div class="dev-wrapper">
            <p class="dev-name">
              ALISSA <br />
              <span class="dev-position">DEVELOPER | Berlin, Germany</span>
            </p>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/developer-team/adil.jpg"
            alt=""
            width="50px"
          />
          <div class="dev-wrapper">
            <p class="dev-name">
              ADIL <br />
              <span class="dev-position">DEVELOPER | Almaty, Kazakhstan</span>
            </p>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/developer-team/irina.jpg"
            alt=""
            width="50px"
          />
          <div class="dev-wrapper">
            <p class="dev-name">
              IRINA <br />
              <span class="dev-position">DEVELOPER | Shymkent, Kazakhstan</span>
            </p>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"

            src="./images/developer-team/kamila.jpg"

            alt=""
            width="50px"
          />
          <div class="dev-wrapper">
            <p class="dev-name">
              KAMILA <br />
              <span class="dev-position">DEVELOPER | Almaty, Kazakhstan</span>
            </p>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/developer-team/madina.jpg"
            alt=""
            width="50px"
          />
          <div class="dev-wrapper">
            <p class="dev-name">
              MADINA <br />
              <span class="dev-position">DEVELOPER | Almaty, Kazakhstan</span>
            </p>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/developer-team/marharyta.jpg"
            alt=""
            width="50px"
          />
          <div class="dev-wrapper">
            <p class="dev-name">
              MARGARITA <br />
              <span class="dev-position">DEVELOPER | Karlsruhe, Germany</span>
            </p>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/developer-team/medet.jpg"
            alt=""
            width="50px"
          />
          <div class="dev-wrapper">
            <p class="dev-name">
              MEDET <br />
              <span class="dev-position">DEVELOPER | Astana, Kazakhstan</span>
            </p>
          </div>
        </li>
      </ul>
    </div>
</div>
