<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <div class="close-modal">
        <svg
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M8 8L22 22" stroke-width="2" />
          <path d="M8 22L22 8" stroke-width="2" />
        </svg>
      </div>
      <p class="team">УЧАСТНИКИ КОМАНДЫ</p>
      <ul class="dev-list list">
        <li class="dev-item">
            <img class="dev-photo" src="./images/dev-photo.jpg" alt="" width="50px">
            <div class="dev-wrapper">
                <p class="dev-name">TEMERLAN <br> <span class="dev-position">Team Lead | Pavlodar</span></p>
            </div>
        </li>
        <li class="dev-item">
            <img class="dev-photo" src="./images/dev-photo.jpg" alt="" width="50px">
            <div class="dev-wrapper">
                <p class="dev-name">MARIA <br> <span class="dev-position">Scrum Master</span></p>
            </div>
        </li>
        <li class="dev-item">
            <img class="dev-photo" src="./images/dev-photo.jpg" alt="" width="50px">
            <div class="dev-wrapper">
                <p class="dev-name">ALISSA <br> <span class="dev-position">Developer</span></p>
            </div>
        </li>
        <li class="dev-item">
            <img class="dev-photo" src="./images/dev-photo.jpg" alt="" width="50px">
            <div class="dev-wrapper">
                <p class="dev-name">ADIL <br> <span class="dev-position">Developer</span></p>
            </div>
        </li>
        <li class="dev-item">
            <img class="dev-photo" src="./images/dev-photo.jpg" alt="" width="50px">
            <div class="dev-wrapper">
                <p class="dev-name">IRINA <br> <span class="dev-position">Developer</span></p>
            </div>
        </li>
        <li class="dev-item">
            <img class="dev-photo" src="./images/dev-photo.jpg" alt="" width="50px">
            <div class="dev-wrapper">
                <p class="dev-name">KAMILA <br> <span class="dev-position">Developer</span></p>
            </div>
        </li>
        <li class="dev-item">
            <img class="dev-photo" src="./images/dev-photo.jpg" alt="" width="50px">
            <div class="dev-wrapper">
                <p class="dev-name">MADINA <br> <span class="dev-position">Developer</span></p>
            </div>
        </li>
        <li class="dev-item">
            <img class="dev-photo" src="./images/dev-photo.jpg" alt="" width="50px">
            <div class="dev-wrapper">
                <p class="dev-name">MARGARITA <br> <span class="dev-position">Developer</span></p>
            </div>
        </li>
        <li class="dev-item">
            <img class="dev-photo" src="./images/dev-photo.jpg" alt="" width="50px">
            <div class="dev-wrapper">
                <p class="dev-name">MEDET <br> <span class="dev-position">Developer</span></p>
            </div>
        </li>
        <li class="dev-item">
            <img class="dev-photo" src="./images/dev-photo.jpg" alt="" width="50px">
            <div class="dev-wrapper">
                <p class="dev-name">______ <br> <span class="dev-position">Developer</span></p>
            </div>
        </li>
      </ul>
    </div>
</div>
