<header class="header">
    <div class="header-container">
      <nav class="nav">
        <a class="logo link" href="./index.html">
          <image width="24" height="24" src="./images/logo-icon.svg" alt="logo"><span class="logo-title">Filmoteka</span></a>
        <ul class="nav-list list">
          <li class="nav-item">
            <a class="link nav-link current-link" href="./index.html"><span class="nav-title current-link">HOME</span></a>
          </li>
          <li class="nav-item">
            <a class="link nav-link" href="./library.html"><span class="nav-title">MY LIBRARY</span></a>
          </li>
        </ul>
      </nav>
      <form class="search-form">
        <input class="search-input" type="text" placeholder="Movie search">
        <button class="submit-button" type="submit">
            <image class="search-icon" width="12" height="12" src="./images/icon-search.svg" alt="loupe">
        </button>
    </form>
</header>