<header class="library-header">
  <div class="library-container">
    <nav class="nav">
      <a class="logo link" href="./index.html">
        <image width="24" height="24" src="../images/logo-icon.svg"/
        alt="logo"><span class="logo-title">Filmoteka</span></a
      >
      <ul class="nav-list list">
        <li class="nav-item">
          <a class="link nav-link" href="./index.html"
            ><span class="nav-title">HOME</span></a
          >
        </li>
        <li class="nav-item">
          <a class="link nav-link current-link" href="./library.html"
            ><span class="nav-title">MY LIBRARY</span></a
          >
        </li>
      </ul>
    </nav>
    <ul class="list library-btn-list">
      <li>
        <button type="button" class="library-btn btn-active">WATCHED</button>
      </li>
      <li><button type="button" class="library-btn">QUEUE</button></li>
    </ul>
  </div>
  <div class="library-container">
    <button class="arrow-up-btn" id="myBtn" title="Go to top" type="button">
      <img
        class="arrow-up-icon"
        src="./images/arrow-up.svg"
        alt="arrow-up"
        width="25"
        height="25"
      />
    </button>
  </div>
</header>
