<header class="library-header">
  <div class="library-container">
    <nav class="nav">
      <a class="logo link" href="./index.html">
        <!-- <image width="24" height="24" src="../images/logo-icon.svg"/
        alt="logo"><span class="logo-title">Filmoteka</span></a
      > -->
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.82 2H4.18C2.97602 2 2 2.97602 2 4.18V19.82C2 21.024 2.97602 22 4.18 22H19.82C21.024 22 22 21.024 22 19.82V4.18C22 2.97602 21.024 2 19.82 2Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7 2V22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M17 2V22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2 12H22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2 7H7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2 17H7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M17 17H22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M17 7H22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <span class="logo-title">Filmoteka</span>
      </svg>
      <ul class="nav-list list">
        <li class="nav-item">
          <a class="link nav-link" href="./index.html"
            ><span class="nav-title">HOME</span></a
          >
        </li>
        <li class="nav-item">
          <a class="link nav-link current-link" href="./library.html"
            ><span class="nav-title">MY LIBRARY</span></a
          >
        </li>
      </ul>
    </nav>
        <ul class="list library-btn-list">
      <li>
        <a class="library-btn library-queued-btn-link watched btn-active" href="./library.html">WATCHED</a>
      </li>
      <li><a class="library-btn library-queued-btn-link queue" href="./library-queued.html">QUEUE</a></li>
    </ul>
  </div>
  <div class="library-container">
    <button class="arrow-up-btn" id="myBtn" title="Go to top" type="button">
      <img
        class="arrow-up-icon"
        src="./images/arrow-up.svg"
        alt="arrow-up"
        width="25"
        height="25"
      />
    </button>
  </div>
</header>
