h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  border: 0;
  cursor: pointer;
}
input {
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}
