main {
  min-height: calc(100vh - 297px);
}

.footer {
  min-width: 100%;
  background: #f7f7f7;
  flex-shrink: 0;
}

.footer-txt {
  display: flex;
  justify-content: center;
  padding-left: 48px;
  padding-right: 36px;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.172;
  color: #545454;
}

.heart {
  margin-left: 10px;
  margin-right: 10px;
}

.modal-open {
  border-bottom: 1px solid;
  cursor: pointer;
}
.modal-open:hover,
.modal-open:focus {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transform: scale(1.03);
}

@media screen and (min-width: 768px) {
  .footer-txt {
    font-size: 16px;
    line-height: 1.187;
  }
}
