@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import './about-modal';
@import './common';
@import './container';
@import './footer';
@import './header';
@import './library-header';
@import './modal-window';
@import './movie-cards';
@import './pagination';

.visually-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

// .no-movie-wrapper {
//   width: 200px;
//   margin: 0 auto;
// }

.no-movie {
  display: block;
  margin: 0 auto;
}

.no-movie-text {
  margin-top: 10px;
  text-align: center;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
}
